    <div class="blog-head text-center">
        <h6>Our Products</h6>
      </div>
<div class="main-product-page ml-[2rem] mr-[2rem] lg:mr-[3rem] lg:ml-[0rem] xl:mr-[0rem] xl:ml-[10rem]  ">
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 ">
   
<div class="max-w-sm mb-10 bg-white  border-white-200 rounded-lg shadow">
    <a href="#">
        <img class="rounded-t-lg" src="assets/product/product1.jpeg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#2C0064]">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</div>
<div class="max-w-sm mb-10  bg-white border border-white-200 rounded-lg shadow">
    <a href="#">
        <img class="rounded-t-lg" src="assets/product/product1.jpeg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-[#50d71e]-900 dark:text-[#2C0064]">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-[#50d71e]-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</div>


<div class="max-w-sm mb-10  bg-white border border-white-200 rounded-lg shadow ">
    <a href="#">
        <img class="rounded-t-lg" src="assets/product/product2.jpeg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#2C0064]">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</div>
<div class="max-w-sm mb-10  bg-white border border-white-200 rounded-lg shadow ">
    <a href="#">
        <img class="rounded-t-lg" src="assets/product/product2.jpeg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#2C0064]">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</div>
  </div>
</div>
