
<div class="flex flex-col items-center justify-center">

    <div class="welcome ">
        <h3 class="text-4xl font-bold mt-20 text-[56px]">Welcome to <span class="text-[#891FF2] font-bold">Zuns
                group</span>
        </h3><br>
    </div>

    <div class=" w-full max-w-4xl flex flex-col gap-12">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consequatur beatae iusto,
            delectus reprehenderit
            ratione sunt quis sed soluta similique ad perspiciatis natus quae suscipit commodi, neque deleniti. Aperiam,
            voluptates! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ducimus ratione iusto
            debitis illo accusamus magni magnam rem a sunt?</p>

        <button class="bg-wine w-48   text-white rounded-full p-2 px-4 self-center ">Contact us </button>


    </div>



</div>
<div class="top-pic absolute left-0 top-48">
    <img class="h-[193px] w-[120px] object-cover rounded-r-xl" src="assets/p1.svg" alt="">
</div>
<div class="top-pic absolute right-0 bottom-10 ">
    <img class="h-[193px] w-[120px] mt-[-10rem] object-cover rounded-l-xl" src="assets/p3.svg" alt="">
</div>
