<div class="flex flex-col items-center mb-[9rem] justify-center h-screen -mt-15 w-[100%]" id="landing">

    <div class="welcome mb-4 w-[100%] leading-10 ">
        <h3 class=" lg:text-[3rem] md:text-[2rem]     font-bold text-center">Welcome to <br>
            <span [ngClass]="getTextColor()" class="anima-text font-bold">{{landingText}}</span>
        </h3><br>

    </div>

    <div class=" w-full max-w-4xl flex flex-col gap-12 ">
        <p class="text-center p-4 bg-white/70 z-10 sm:z-0">{{description}}</p>

        <button
            class=" w-48 text-white  rounded-full p-2 px-4  text-center justify-center ml-6 self-center focus:outline-none focus:ring focus:ring-violet-300 "
            [ngClass]="getColor()">Contact
            us </button>


    </div>
    <div class="top-pic absolute left-0 top-48 animate-pulse">
        <img class="h-[193px] w-[120px] object-cover rounded-r-xl" src="assets/p1.svg" alt="">
    </div>
    <div class="top-pic absolute right-0 top-80 animate-pulse">
        <img class="h-[193px] w-[120px] object-cover rounded-l-xl" src="assets/p3.svg" alt="">
    </div>


</div>
