p, button{
    animation: slideLeft 1.9s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
@keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(200px);
    } 
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }