<div class="main-grad mb-[5rem] -mt-48 w-[100%]" id="about">
    <div class="font-bold w-72 text-center mx-auto ">

        <div class=" divider before:h-0.5 after:h-0.5 text-wine text-2xl before:bg-wine after:bg-wine">
            About us
        </div>
    </div>

    <div class="flex items-center px-32 justify-center mt-16 gap-x-16 ">
        <div class="w-64 h-72 bg-gray-200 flex ">
            <div class="bg-[#d8b4fe] w-64 h-65  rounded-lg relative z-0">
                <img src="assets/p2.svg" alt="" class="absolute inset-0 left-5 top-5 h-72 w-64 z-10 rounded-lg object-cover">
              <!-- <div class="absolute inset-0 flex justify-center items-center z-10">
                <p class="text-2xl font-bold">This should be on top of the map</p>
              </div> -->
            </div>
          </div>

       

        <div class="flex-1 ml-22">
            <div class="delay-[300ms] duration-[600ms] taos:[transform:translate3d(200px,200px,0)] taos:opacity-0" data-taos-offset="300">
            <p class="w-[90vh]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <button class="bg-wine w-43   text-white rounded mt-[2rem] p-2 px-4 self-center ">Contact us </button>
            <div></div>
        </div>

    </div>
</div>