<div class="main-grad mb-[5rem] -mt-56 w-[100%] " id="about">
    <div class="font-bold w-72 text-center mx-auto ">

        <div class=" divider before:h-0.5 after:h-0.5 text-[#6dc241] text-2xl before:bg-[#6dc241] after:bg-[#6dc241]">
            About us
        </div>
    </div>

    <div class="flex flex-col sm:flex-row items-center px-32 justify-center sm:mt-16 gap-x-16 ">
        <div class="w-64 h-72 bg-gray-200 flex ">
            <div class="bg-[#d5f291] sm:w-64 h-65  rounded-lg relative z-0">
                <img src="assets/p2.svg"  alt=""
                    class="sm:absolute inset-0 left-5 top-5 h-72 sm:w-64 w-[90vw] z-10 hover:w-[95vh] hover:top-3 hover:h-[42vh] rounded-lg object-cover">
                <!-- <div class="absolute inset-0 flex justify-center items-center z-10">
                <p class="text-2xl font-bold">This should be on top of the map</p>
              </div> -->
            </div>
        </div>



        <div class="flex-1 sm:ml-22 mt-6 sm:mt-0"
        data-te-animation="[slide-left_1s_ease-in-out]">
            <div class="delay-[300ms] duration-[600ms] taos:[transform:translate3d(200px,200px,0)] taos:opacity-0 flex flex-col justify-center max-w-full"
                data-taos-offset="300">
                <p class="sm:w-[90vh] w-screen px-4 sm:px-0">Zuns group is a combination of multiple companies which works i different line of business. Zuns Group was founded decades ago with vision of creating different companies with different business visions. Zuns who has long historyof doing business many institutions and individuals with many institutions and indviduals since it's birth, our 
                    companies are more based on Manifucturing, Commodity Trading, Mining, Import Export and Logistics.<br><br>
                    We are a visionary company with amazing ideas and entrepreneur driven management team which we are now involved in many international business with North America, South America, Far East, Middle East and Africa .
                </p>
                <button class="bg-[#6dc241] w-43 text-white rounded mt-[2rem] p-2 px-4 self-start ">Contact us
                </button>
                <div></div>
            </div>

        </div>
    </div>