<div>
    <div class="font-bold w-72 text-center mx-auto ">

        <div class=" divider before:h-0.5 after:h-0.5 text-wine before:bg-wine after:bg-wine">
            About us
        </div>
    </div>

    <div class="flex items-center px-32 justify-center mt-16 gap-x-16 ">

        <img src="assets/p2.svg" alt="" class="h-72 w-64 rounded-md object-cover">

        <div class="flex-1 ">
            <p class="w-96">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod sapiente possimus?
                Possimus hic placeat
                voluptates amet enim, eos quos esse cum. Vitae, soluta itaque. Quia maxime sint accusamus deserunt.</p>
        </div>

    </div>
</div>