<!-- <div class="flex items-center justify-center">
    <div class="carousel rounded-box">
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l1.jfif" alt="Burger" />
        </div>
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l2.jfif" alt="Burger" />
        </div>
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l3.jfif" alt="Burger" />

<div class="flex items-center justify-center mb-4 h-fit">
    <div class="carousel rounded-box h-fit">
        <div class="carousel-item mr-4 cursor-pointer" *ngFor="let company of companies" (click)="detail(company.id)">
            <app-logo-card [image]="company.image" [name]="company.name"> </app-logo-card>
        </div>


    </div>

</div> -->

<!-- <p>services works!</p> -->
<div id="service">
    <div class="font-bold w-72 text-center mx-auto ">
    
        <div class=" divider before:h-0.5 text-2xl after:h-0.5 text-wine mb-10 before:bg-wine after:bg-wine">
            Our Groups
        </div>
    </div>
    <div class="main-product-page ml-[2rem] mr-[2rem] lg:mr-[3rem] lg:ml-[0rem] xl:mr-[0rem] xl:ml-[2rem]  ">
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 ">
    
            <div class="max-w-sm mb-10 bg-white  border-white-200 rounded-lg shadow">
                <a href="#">
                    <img class="rounded-t-lg h-[18rem] w-[100%]" src="assets/l1.jfif" alt="" />
                </a>
                <div class="p-5">
                    <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text- white duration-300 ">
                        Category
                    </a> -->
                    <a href="#">
                        <h5 class="mb-5 mt-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#2C0064]">Zuns Goods Wholesalers Co. LLC</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                        <div class="flex justify-left">
                        <button class="flex items-center bg-[#2C0064] hover:bg-purple-400 text-white font-bold py-2 px-10 rounded">
                            See More
    <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          </button>
                        </div>
                </div>
            </div>
            <div class="max-w-sm mb-10  bg-white border border-white-200 rounded-lg shadow">
                <a href="#">
                    <img class="rounded-t-lg h-[18rem] w-[100%]" src="assets/l2.jfif" alt="" />
                </a>
                <div class="p-5">
                    <!-- <a href="#"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text- white duration-300 ">
                        Category
                    </a> -->
                    <a href="#">
                        <h5 class="mb-5 mt-5 text-2xl font-bold tracking-tight text-[#50d71e]-900 dark:text-[#2C0064]">Zuns International Trading PLC</h5>
                    </a>
                    <p class="mb-3 font-normal text-[#50d71e]-700 dark:text-gray-400">Here are the biggest enterprise
                        technology acquisitions of 2021 so far, in reverse chronological order.</p>
                        <button class="flex items-center bg-[#2C0064] hover:bg-purple-400 text-white font-bold py-2 px-10 rounded">
                            See More
    <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          </button>
                    </div>
            </div>
    
    
            <div class="max-w-sm mb-10  bg-white border border-white-200 rounded-lg shadow ">
                <a href="#">
                    <img class="rounded-t-lg h-[18rem] w-[100%]" src="assets/l3.jfif" alt="" />
                </a>
                <div class="p-5">
                    <!-- <a href="#"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text- white duration-300 ">
                        Category
                    </a> -->
                    <a href="#">
                        <h5 class="mb-5 mt-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#2C0064]">Zuns International Trading PLC</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological order.</p>
                        <button class="flex items-center bg-[#2C0064] hover:bg-purple-400 text-white font-bold py-2 px-10 rounded">
                            See More
    <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          </button>
                    </div>
            </div>
           
        </div>
    </div>
    </div>