<!-- <div class="flex items-center justify-center">
    <div class="carousel rounded-box">
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l1.jfif" alt="Burger" />
        </div>
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l2.jfif" alt="Burger" />
        </div>
        <div class="carousel-item">
            <img class="h-48 w-48" src="assets/l3.jfif" alt="Burger" /> -->
 
            <div class="font-bold w-72 text-center mx-auto ">
    
        <div class=" divider before:h-0.5 text-2xl after:h-0.5 text-[#6dc241] mb-10 before:bg-[#6dc241] after:bg-[#6dc241]">
            Our Groups
        </div>
    </div>

    
<div class="flex items-center justify-center mb-4 w-[100%] mb-20 h-fit ">
    <div class="carousel rounded-box h-fit">
        <div class="carousel-item mr-4 cursor-pointer" *ngFor="let company of companies" (click)="detail(company.id)">
            <app-logo-card [image]="company.image" [name]="company.name"> </app-logo-card>
        </div>
    </div>
</div>

