<div class="sticky top-0 z-50 bg-white flex justify-around  h-22 py-8 px-1 w-screen ">
    <div class="logo  -ml-10 mt-2">

        <div class="flex">
            <img src="assets/circle.svg" class="mr-4" height="25" width="25" alt="">
            <span>Zuns group</span>

        </div>
    </div>

    <div class="links space-x-5  mt-2 ">
        <a class="hover:text-[#891FF2]" href="#landing">Home</a>
        <a class="hover:text-[#891FF2]" href="#service">Services</a>
        <a class="hover:text-[#891FF2]" href="#about">About</a>
        <a class="hover:text-[#891FF2]" href="#product">Products</a>


    </div>

    <div class="">
        <button class="bg-0-khakis bg-purple-200  text-black rounded-2xl p-2 px-4">Contact us </button>
    </div>
</div>