<div class="flex justify-around  h-32 py-8 px-1 w-screen ">
    <div class="logo  -ml-10 mt-2">

        <div class="flex">
            <img src="assets/circle.svg" class="mr-4" height="25" width="25" alt="">
            <span>Zuns group</span>

        </div>
    </div>

    <div class="links space-x-5  mt-2 ">
        <a href="">Home</a>
        <a href="">Services</a>
        <a href="">About</a>
        <a href="">Products</a>


    </div>

    <div class="">
        <button class="bg-0-khakis bg-purple-200  text-black rounded-2xl p-2 px-4">Contact us </button>
    </div>
</div>