<a class="group relative block h-64 w-64 bg-black">
    <img alt="Developer" [src]='image'
        class="absolute inset-0 h-64 w-64 object-cover opacity-75 transition-opacity group-hover:opacity-50" />

    <div class="relative p-4 sm:p-6 lg:p-8">
        <p class="text-sm font-medium uppercase tracking-widest text-khaki">
            {{name}}
        </p>


        <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                <p class="text-sm text-white">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
                    perferendis hic asperiores quibusdam quidem voluptates doloremque
                    reiciendis nostrum harum. Repudiandae?
                </p>
            </div>
        </div>
    </div>
</a>