<a class="group relative rounded block h-64 w-64 bg-black">
    <img alt="Developer" [src]='image'
        class="absolute inset-0 h-64 w-64 object-cover opacity-75 transition-opacity group-hover:opacity-50" />

    <div class="relative p-4 sm:p-6 lg:p-8">
            <div class="ml-[-2rem] px-3 absolute bg-gradient-to-t from-black w-full h-full transform duration-500 inset-y-3/4 group-hover:-inset-y-0">
              <div class="absolute w-full flex place-content-center">
                <p class="text-sm font-medium uppercase tracking-widest text-khaki w-[93%] shadow-2xl text-white mt-10">{{name}}</p>
              </div>
             
            </div>
        <!-- <p class="text-sm font-medium uppercase tracking-widest text-khaki ">
            {{name}}
        </p> -->


        <div class="mt-32 sm:mt-48 lg:mt-64">
            <!-- <div -->
                <!-- class="translate-y-2 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"> -->
                <!-- <p class="text-sm text-white">
                    Zuns Business Group
                </p> -->
            <!-- </div> -->
        </div>
    </div>
</a>