@tailwind base;
@tailwind components;
@tailwind utilities;


.main-grad {
    // background: linear-gradient(270.77deg, rgba(224, 38, 254, 0.61) 26.72%, rgba(255, 124, 124, 0.78) 73.69%);
    // filter: blur(10px);
    // background: linear-gradient(270deg, rgba(212, 111, 227, 0.61) 46.72%, #fff 73.69%);

}

body {
    width: 100%;
}